.features {
  padding-top: 104px;
  &__items {
    padding-top: 70px;
  }
}

  .rc-steps-item-finish {
    &:nth-child(2) {
      .rc-steps-item-tail {
        height: 100%;
        width: 7px;
        position: absolute;
        top: 3px;
        left: 11px;
        background-color: #f2f2f2;
        border-left: solid 1px #e5e5e5;
        border-right: solid 1px #e5e5e5;
      }
    }
  }


.rc-steps-item-finish {
  position: relative;
   .rc-steps-icon {
     background-color: #1452f0;
     padding: 5px;
     border-radius: 50%;
     width: 28px;
     display: block;
     height: 28px;
     box-sizing: border-box;
     position: relative;
     z-index: 2;
     margin-left: 1px;
   }
  .rc-steps-item-tail {
    height: 100%;
    width: 7px;
    position: absolute;
    top: 3px;
    left: 11px;
    background-color: #1452f0;
  }
}

.rc-steps-item-process {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 7px;
    top: -77%;
    left: 11px;
    height: 67%;
    background-image: linear-gradient(to bottom, #1452f0, rgba(20, 82, 240, 0));
  }
}

.rc-steps-item-process, .rc-steps-item-wait {
  position: relative;
  .rc-steps-item-title {
    position: relative;
    &:after {
      content: 'SOON';
      position: absolute;
      font-size: 12px;
      color: #dc9901;
      padding: 2px 6px;
      border-radius: 3px;
      border: solid 1px #dc9901;
      background-color: #fff6e1;
      margin-left: 10px;
      margin-top: 9px;
    }
  }
  .rc-steps-icon {
    box-sizing: border-box;
    width: 28px;
    display: block;
    height: 28px;
    background-color: #f2f2f2;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    border: solid 1px #e5e5e5;
    z-index: 2;
    position: relative;
    margin-left: 1px;
  }
  .rc-steps-item-tail {
    height: 100%;
    width: 7px;
    position: absolute;
    top: 27px;
    left: 11px;
    background-color: #f2f2f2;
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      background-color: #f2f2f2;
      width: 5px;
      height: 6px;
      z-index: 3;
    }
    &:before {
      top: -30px;
    }
  }
  &:last-child {
    .rc-steps-item-tail {
      background-color: transparent;
      border: none;
      &:after {
        content: none;
      }
      &:before {
        left: 1px;
      }
    }
  }
}

.rc-steps-item-container{
  display: flex;
}

.rc-steps-item-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  width: 100%;
}
.rc-steps-item-title {
  max-width: 282px;
  font-size: 26px;
  margin-left: 60px;
  font-weight: 600;
  position: relative;
}

.rc-steps-item-description {
  font-size: 21px;
  max-width: 450px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .features {
    padding-top: 40px;
    &__items {
      padding-top: 30px;
    }
    .rc-steps-item-content {
      flex-direction: column;
      padding-bottom: 40px;
      padding-left: 15px;
    }
    .rc-steps-item-title {
      font-size: 20px;
      margin-left: 0;
      &:after {
        content: none;
      }
    }
    .rc-steps-item-description {
      padding-top: 12px;
      font-size: 16px;
      line-height: 1.63;
    }
    &__item-text span {
      display: none;
    }
  }
}

@media screen and (max-width: 380px) {
  .rc-steps-item-process:after {
    top: -79%;
  }
}
